<!DOCTYPE html>
  <html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
        <link href="./assets/css/index.css" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    </head>
    <body>
      <div id="app">
         <v-app>
            <v-content>
               <v-container pa-0 fluid fill-height>
                <v-layout align-space-around justify-start column fill-height>
                  <v-flex style="background-color: #0C1021;" id="home">
                    <v-img src="./assets/background.svg" conver
                            height='calc(100vh - 100px)'
                            min-height="600px"
                            alt="Vuetify">
                      <v-layout align-space-around justify-start row wrap fill-height>
                        <v-flex xs12 md6 lg6 pt-5 :pl-5="!$vuetify.breakpoint.smAndDown" :pl-2="!$vuetify.breakpoint.mdAndUp" :pr-2="!$vuetify.breakpoint.mdAndUp" :pr-5="!$vuetify.breakpoint.smAndDown">
                          <v-layout align-center justify-space-between column fill-height>
                            <v-toolbar
                              class="elevation-0"
                              color="transparent"
                              dark
                              scroll-off-screen
                              scroll-target="#scrolling-techniques"
                            >
                              <div>
                                <v-layout justify-space-around>
                                    <img
                                      src="./assets/logo.png"
                                      alt="Vuetify"
                                      :height="$vuetify.breakpoint.smAndDown?'20px':'50px'"
                                    >
                                </v-layout>
                              </div>
                            </v-toolbar>
                            <v-flex>
                              <v-layout align-start justify-center column fill-height :pr-5="!$vuetify.breakpoint.xs" :pl-4="!$vuetify.breakpoint.xs">
                                <div style="background-color: #0C1021">
                                  <h4 v-if="$vuetify.breakpoint.mdAndDown" class="display-1 white--text">Plataforma customizável de autoatendimento</h4>
                                  <h1 v-else class="display-2 white--text">Plataforma customizável de autoatendimento</h1>
                
                                  <h4 v-if="$vuetify.breakpoint.mdAndDown" class="mt-3 headline accent--text">Construa em poucos cliques o sucesso de seu cliente</h4>
                                  <h3 v-else class="mt-3 display-1 accent--text">Construa em poucos cliques o sucesso de seu cliente</h3>
                                  <div>
                                    <v-layout v-if="$vuetify.breakpoint.smAndDown" row class="pt-4">
                                      <v-btn @click="() => {$router.push('editor')}" color="#FF6400" dark round>Cadastre-se</v-btn>
                                      <v-btn color="secondary" round>Acessar</v-btn>
                                    </v-layout>
                                    <v-layout v-else row class="pt-4">
                                      <v-btn @click="() => {$router.push('editor')}" large color="#FF6400" dark round>Cadastre-se</v-btn>
                                      <v-btn large color="secondary" round>Acessar plataforma</v-btn>
                                    </v-layout>
                                  </div>
                                </div>
                              </v-layout>
                            </v-flex>
                          </v-layout>
                        </v-flex>
                        <v-flex v-if="!$vuetify.breakpoint.mdAndDown" xs12 md6 lg6 @mouseover="hover = true" @mouseleave="hover = false">
                          <v-img src="./assets/parede.svg" contain
                          height='calc(100vh - 100px)'
                          min-height="600px"
                          alt="Parede">
                          <v-layout align-space-around justify-start column fill-height pt-5>
                            <v-flex shrink>
                              <v-toolbar color="transparent main-menu" class="elevation-0 mt-5" fixed>
                                <v-layout
                                  justify-end
                                  row
                                  wrap
                                  pr-5
                                  mr-5
                                >
                                  <v-btn
                                    :outline="link.window === onboarding"
                                    v-for="link in links"
                                    :key="link.title"
                                    color="primary"
                                    @click="onboarding = link.window"
                                    flat
                                    round
                                  >
                                    {{ link.title }}
                                  </v-btn>
                                </v-layout>
                              </v-flex>
                            </v-toolbar>
                            <v-layout align-space-around justify-center column fill-height>
                              <v-flex grow>
                                  <img width="80%" src="./assets/tablet.svg"></img>
                              </v-flex>
                            </v-layout>
                          </v-layout>
                          </v-img>
                        </v-flex>
                      </v-layout>
                    </v-img>
                  </v-flex>
                  <v-flex style="background-color: white; min-height: 400px;" pa-3 id="vantagens">
                    <v-layout row wrap>
                      <v-flex xs12 pa-5>
                        <h1 class="display-2 primary--text text-xs-center font-weight-medium">Nossas vantagens</h1>
                      </v-flex>
                      <v-flex xs12 md4>
                        <v-layout align-center justify-center>
                          <img style="width: 30%" src="./assets/selfiestman.svg"></img>
                        </v-layout>
                        <p class="headline grey--text text--darken-2 font-weight-bold text-xs-center">
                          Comodidade
                        </p>
                        <v-layout align-center justify-center pr-5 pl-5>
                            <blockquote class="blockquote">
                              Com uma interface de autoatendimento, seu cliente inicia a jornada assim que entra. Sem barreiras, espera e problemas de informação que criam conflitos e aborrecimentos.</blockquote>
                          </v-layout>                      </v-flex>
                      <v-flex xs12 md4>
                        <v-layout align-center justify-center>
                          <img style="width: 30%" src="./assets/findyourproduct.svg"></img>
                        </v-layout>
                        <p class="headline grey--text text--darken-2 font-weight-bold text-xs-center">
                          Escolhas certas
                        </p>
                        <v-layout align-center justify-center pr-5 pl-5>
                            <blockquote class="blockquote">Ofereça todos os seus produtos, com todas as variações, sem precisar decorar produtos e preços, e tenha certeza de que seu cliente vai levar o produto que queria, pelo preço que queria.</blockquote>
                          </v-layout>                      </v-flex>
                      <v-flex xs12 md4>
                        <v-layout align-center justify-center>
                          <img style="width: 30%" src="./assets/payandgo.svg"></img>
                        </v-layout>
                        <p class="headline grey--text text--darken-2 font-weight-bold text-xs-center">
                          Pagamento Rápido
                        </p>
                        <v-layout align-center justify-center pr-5 pl-5>
                          <blockquote class="blockquote">Dê liberdade ao seu cliente para ficar o quanto quiser, e também para escolher, pagar, receber o produto e sair rapidamente, sem entraves desnecessários para pagamento</blockquote>
                        </v-layout>
                      </v-flex>
                    </v-layout>       
                  </v-flex>
                  <v-flex>
                    <v-img src="./assets/background.svg" cover
                    :height="$vuetify.breakpoint.mdAndUp?'500px':'1500px'"
                    alt="Vuetify">
                    <v-container fill-height grid-list-xl fluid>
                      <v-layout fill-height align-space-around justify-space-around :column="$vuetify.breakpoint.smAndDown" :row="$vuetify.breakpoint.mdAndUp" :wrap="$vuetify.breakpoint.mdAndUp" pt-5 :pl-5="$vuetify.breakpoint.mdAndUp" :pr-5="$vuetify.breakpoint.mdAndUp" mt-5>
                        <v-flex xs12 md3>
                          <v-hover>
                            <v-card
                              slot-scope="{ hover }"
                              :class="`elevation-${hover ? 20 : 2}`"
                              class="mx-auto"
                              width="100%"
                            >
                            <v-layout align-center>
                              <div class="bagage-wrapper">
                              </div>
                              <img
                                :aspect-ratio="16/9"
                                src="./assets/bagage-free.svg"
                                :height="$vuetify.breakpoint.mdAndUp?'200px':'150px'"
                                class="bagage-img"
                              ></img>
                          </v-layout>
                              <v-card-title>
                                <div>
                                  <span class="headline">Gratuito</span>
                                </div>
                              </v-card-title>
                              <v-list dense class="pl-3 pr-3 pb-3">
                                  <v-list-tile
                                  v-for="item in pacoteGratuito.itens"
                                  :key="item.title"
                                  @click=""
                                >
                                  <v-list-tile-action>
                                    <v-icon :color="item.contain?'pink':'grey'">star</v-icon>
                                  </v-list-tile-action>
                      
                                  <v-list-tile-content>
                                    <v-list-tile-title v-text="item.title"></v-list-tile-title>
                                  </v-list-tile-content>
                                </v-list-tile>                    
                              </v-list>
                            </v-card>
                          </v-hover>
                        </v-flex>
                        <v-flex  xs12 md3>
                            <v-hover>
                              <v-card
                                slot-scope="{ hover }"
                                :class="`elevation-${hover ? 20 : 2}`"
                                class="mx-auto"
                                width="100%"
                              >
                                <v-layout align-center>
                                  <div class="bagage-wrapper">
                                  </div>
                                  <img
                                    :aspect-ratio="16/9"
                                    src="./assets/bagage-medium.svg"
                                    :height="$vuetify.breakpoint.mdAndUp?'200px':'150px'"
                                    class="bagage-img"
                                  ></img>
                              </v-layout>
                                <v-card-title>
                                  <div>
                                    <span class="headline">Micro estação</span>
                                  </div>
                                </v-card-title>
                                <v-list dense class="pl-3 pr-3 pb-3">
                                    <v-list-tile
                                    v-for="item in pacoteGratuito.itens"
                                    :key="item.title"
                                    @click=""
                                  >
                                    <v-list-tile-action>
                                      <v-icon :color="item.contain?'pink':'grey'">star</v-icon>
                                    </v-list-tile-action>
                        
                                    <v-list-tile-content>
                                      <v-list-tile-title v-text="item.title"></v-list-tile-title>
                                    </v-list-tile-content>
                                  </v-list-tile>                    
                                </v-list>
                              </v-card>
                            </v-hover>
                          </v-flex>
                          <v-flex xs12 md3>
                              <v-hover>
                                <v-card
                                  slot-scope="{ hover }"
                                  :class="`elevation-${hover ? 20 : 2}`"
                                  class="mx-auto"
                                  width="100%"
                                >
                                  <v-layout align-center>
                                      <div class="bagage-wrapper">
                                      </div>
                                      <img
                                        :aspect-ratio="16/9"
                                        src="./assets/bagage-plus.svg"
                                        :height="$vuetify.breakpoint.mdAndUp?'200px':'150px'"
                                        class="bagage-img"
                                      ></img>
                                  </v-layout>
                                  <v-card-title>
                                    <div>
                                      <span class="headline">Plataforma Completa</span>
                                    </div>
                                  </v-card-title>
                                  <v-list dense class="pl-3 pr-3 pb-3">
                                      <v-list-tile
                                      v-for="item in pacoteGratuito.itens"
                                      :key="item.title"
                                      @click=""
                                    >
                                      <v-list-tile-action>
                                        <v-icon :color="item.contain?'pink':'grey'">star</v-icon>
                                      </v-list-tile-action>
                          
                                      <v-list-tile-content>
                                        <v-list-tile-title v-text="item.title"></v-list-tile-title>
                                      </v-list-tile-content>
                                    </v-list-tile>                    
                                  </v-list>
                                </v-card>
                              </v-hover>
                            </v-flex>
                      </v-layout>
                    </v-container>
                    </v-img>
                  </v-flex>
                  <v-flex id="contact">
                      <v-parallax src="./assets/shopping.jpg">
                      <v-layout
                        :align-space-between="$vuetify.breakpoint.mdAndUp"
                        :align-space-around="$vuetify.breakpoint.smAndDown"
                        justify-center
                        column
                        :pa-5="$vuetify.breakpoint.mdAndUp"
                      >
                      <v-card style="width: auto" class="elevation-10">
                          <v-toolbar
                            color="#eee"
                            class="elevation-0 secondary--text" >
                          <v-toolbar-title>Contato</v-toolbar-title>
                            <v-spacer></v-spacer>
                            <v-btn flat icon @click="sendEmail" color="info">
                              <v-icon>send</v-icon>
                            </v-btn>
                          </v-toolbar>
                          <v-form>
                            <v-autocomplete
                              v-model="mail.to"
                              :items="['contato@jlotos.com.br']"
                              chips
                              label="Para"
                              readonly
                              full-width
                              hide-details
                              hide-no-data
                              hide-selected
                              single-line
                            ></v-autocomplete>
                            <v-divider></v-divider>
                            <v-text-field
                              label="Assunto"
                              v-model="mail.assunto"
                              single-line
                              full-width
                              hide-details
                            ></v-text-field>
                            <v-divider></v-divider>
                            <v-textarea
                              v-model="mail.message"
                              label="Informe seus dados para contato"
                              counter
                              maxlength="120"
                              full-width
                              single-line
                            ></v-textarea>
                          </v-form>
                        </v-card>
                    </v-layout>
                  </v-parallax>
                  </v-flex>
                  <v-footer
                      dark
                      height="auto"
                    >
                      <v-card
                        style="width: 100%"
                        flat
                        tile
                        class="grey darken-3 white--text text-xs-center"
                      >

                        <v-card-title class="primary pt-5 pb-5">
                          <div>
                            <span class="display-1 pl-5 pt-5 text-xs-center">Nosso time</span>
                          </div>
                        </v-card-title>

                        <v-card-text class="primary white--text pt-0">
                          <v-layout align-center justify-space-around row wrap pt-3 pb-5>
                            <v-flex>
                              <v-layout
                                align-center
                                justify-space-around
                                column
                                pa-2
                              >
                                <v-avatar
                                  size="80"
                                  color="grey lighten-4"
                                >
                                  <img src="./assets/me.jpeg" alt="avatar">
                                </v-avatar>
                                <h3 class="headline font-weight-bold secondary--text">Waldney Andrade</h3>
                                <h3 class="headline font-weight-bold accent--text mb-2">Tecnologia</h3>
                                <div dark class="white--text font-weight-light title mb-2">
                                  Bacharel em Ciência da Computação<br>
                                  Desenvolvedor FullStack<br>
                                  UI/UX Designer
                                </div>
                              </v-layout>
                            </v-flex>
                            <v-flex>
                              <v-layout
                                align-center
                                justify-space-around
                                column
                                pa-2
                              >
                                <v-avatar
                                  size="80"
                                  color="grey lighten-4"
                                >
                                  <img src="./assets/flavio.jpeg" alt="avatar">
                                </v-avatar>
                                <h3 class="headline font-weight-bold secondary--text">Flávio Andrade</h3>
                                <h3 class="headline font-weight-bold accent--text mb-2">CEO</h3>
                                <div dark class="white--text font-weight-light title mb-2">
                                  Bacharel em Ciência da Computação<br>
                                  Desenvolvedor FullStack<br>
                                  UI/UX Designer
                                </div>
                              </v-layout>
                            </v-flex>
                            <v-flex>
                              <v-layout
                                align-center
                                justify-space-around
                                column
                                pa-2
                              >
                                <v-avatar
                                  size="80"
                                  color="grey lighten-4"
                                >
                                  <img src="./assets/andreyvis.jpeg" alt="avatar">
                                </v-avatar>
                                <h3 class="headline font-weight-bold secondary--text">Andreyvis Silva</h3>
                                <h3 class="headline font-weight-bold accent--text mb-2">Estruturas</h3>
                                <div dark class="white--text font-weight-light title mb-2">
                                  Bacharel em Ciência da Computação<br>
                                  Desenvolvedor FullStack<br>
                                  UI/UX Designer
                                </div>
                              </v-layout>
                            </v-flex>
                            <v-flex>
                              <v-layout
                                align-center
                                justify-space-around
                                column
                                pa-2
                              >
                                <v-avatar
                                  size="80"
                                  color="grey lighten-4"
                                >
                                  <img src="./assets/rodolpho.jpeg" alt="avatar">
                                </v-avatar>
                                <h3 class="headline font-weight-bold secondary--text">Rodolpho S. Vidal</h3>
                                <h3 class="headline font-weight-bold accent--text mb-2">Design</h3>
                                <div dark class="white--text font-weight-light title mb-2">
                                  Bacharel em Ciência da Computação<br>
                                  Desenvolvedor FullStack<br>
                                  UI/UX Designer
                                </div>
                              </v-layout>
                            </v-flex>
                          </v-layout>                          
                        </v-card-text>

                        <v-card-text>
                          <v-btn
                            v-for="icon in icons"
                            :key="icon"
                            class="mx-3 white--text"
                            icon
                            :style="{'width': $vuetify.breakpoint.mdAndUp?'36px':'25px'}"
                          >
                            <v-icon :size="$vuetify.breakpoint.mdAndUp?'24px':'20px'">{{ icon }}</v-icon>
                          </v-btn>
                        </v-card-text>

                        <v-divider></v-divider>

                        <v-card-text class="white--text">
                          &copy;2018 — <strong>Atendelo</strong>
                        </v-card-text>
                      </v-card>
                    </v-footer>
                </v-layout>
               </v-container>
            </v-content>
        </v-app>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      <script src="https://unpkg.com/vuex@3.1.0/dist/vuex.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
      <script>

        const socket = io("http://localhost:8080");

        const store = new Vuex.Store({
          state: {
            loading: false,
            progress: 0,
            result: ''
          },
          mutations: {
            setLoading (state, loading) {
              state.loading = loading
            },
            setProgress (state, progress) {
              state.progress = progress
            },
            setResult (state, result) {
              state.result = result
            }
          },
          actions: {
            executionRequest ({ commit }, dataSet) {
              commit('setLoading', true)
              socket.emit("execute", dataSet)
            },
            updateProgress ({ commit }, progress) {
              commit('setProgress', progress)
            }
          },
          getters: {
            loading (state) {
              return state.loading
            },
            progress (state) {
              return state.progress
            },
            result (state) {
              return state.result
            }
          }
        })

        new Vue({ 
          el: '#app',
          data () {
            return {
              pacoteGratuito: {
                itens: [
                  { contain: true, title: 'Jason Oner', avatar: 'https://cdn.vuetifyjs.com/images/lists/1.jpg' },
                  { title: 'Travis Howard', avatar: 'https://cdn.vuetifyjs.com/images/lists/2.jpg' },
                  { title: 'Ali Connors', avatar: 'https://cdn.vuetifyjs.com/images/lists/3.jpg' },
                  { title: 'Cindy Baker', avatar: 'https://cdn.vuetifyjs.com/images/lists/4.jpg' }
                ]
              },
              scrollOptions: {
                duration: 300,
                offset: 0,
                easing: 'easeInOutCubic'
              },
              carrouselTimer: null,
              hover: false,
              mail: {
                message: '',
                assunto: 'Seu nome: Tenho uma sugestão ou dúvida',
                to: 'contato@jlotos.com.br'
              },
              onboarding: '#home',
              links: [
                {
                  title: 'Inicio',
                  window: '#home'
                },
                {
                  title: 'Vantagens',
                  window: '#vantagens'
                },
                {
                  title: 'Planos',
                  window: '#plains'
                },
                {
                  title: 'Contato',
                  window: '#contact'
                }
              ],
              icons: [
                'fab fa-facebook',
                'fab fa-twitter',
                'fab fa-google-plus',
                'fab fa-linkedin',
                'fab fa-instagram'
              ]
            }
          },
          watch: {
            hover (val) {
              if (val) {
                // fazer alguma ação quando o mouse fica sobre a imagem do tablet
              }
            },
            onboarding (val) {
              this.$vuetify.goTo(val, this.scrollOptions)
            }
          },
          methods: {
            executarProcessamento (dataSet) {
              store.dispatch('executionRequest', dataSet)
            },
            sendEmail () {
              this.$store.dispatch('sendContactMail', this.mail).then(() => {
                this.mail = {
                  message: '',
                  assunto: 'Seu nome: Tenho uma sugestão ou dúvida',
                  to: 'contato@jlotos.com.br'
                }
                alert('Email enviado com sucesso!')
              }).catch((error) => {
                alert(error)
              })
            }
          },
          created() {
            this.$vuetify.theme.primary = '#0C1021'
            this.$vuetify.theme.secondary = '#00aad4'
            this.$vuetify.theme.accent = '#80e5ff'
            this.$vuetify.theme.error = '#FF5252'
            this.$vuetify.theme.info = '#2196F3'
            this.$vuetify.theme.success = '#4CAF50'
            this.$vuetify.theme.warning = '#FFC107'
          },
          mounted () {
            socket.on('progress', (progress) => {
              store.dispatch('updateProgress', progress)
            })
          },
          computed: {
            result () {
              return store.getters.result
            },
            progress () {
              return store.getters.progress
            },
            loading () {
              return store.getters.loading
            }
          }
        })


      </script>
    </body>
</html>