.theme--light.application {
  background: #f1f1f1;
 }
 
 html { overflow: hidden; }

.v-toolbar__extension {
  height: 100px !important;
}

.bagage-img {
  position: absolute;
  top: -100px;
  margin: auto;
  left: 0;
  right: 0;
}

.bagage-wrapper {
  height: 100px;
}